$bg-primary: #141414;
$bg-complement: #222222;
$bg-secondary: #4d4d4d;
$bg-contrast-primary: #fefefe;
$bg-contrast-secondary: #979797;
$bg-nav: #050505;
$skew-by: 10vw;
$bg-dot-dist: 32px 32px;
$montserrat: 'Montserrat', sans-serif;
$rale: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;
$ham-thick: 2px;
$ham-margin: 5px;
$ham-width: 3 * $ham-thick + 4 * $ham-margin;
$ham-disconnect: 3px;
